<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <nav class="menu-bar">
    <ul>
      <li><a routerLink="/home"><i class="fa-solid fa-house"></i>Home</a></li>
      <li><a routerLink="/about-us"><i class="fa-solid fa-users"></i>About</a></li>
      <li class="current-page"><a routerLink="/EEE-Secondsub"><i class="fa-solid fa-book"></i>Notes</a></li>
      <li><a href="#"><i class="fa-solid fa-file-lines"></i>Modules</a>
        <div class="dropdown-menu1">
          <ul>
            <li><a routerLink="/timetable"><i class="fa-solid fa-table"></i>Timetable</a></li>
            <li><a routerLink="/labdepartment"><i class="fa-solid fa-book-open-reader"></i>Lab</a></li>
          </ul>
        </div>

      <li><a routerLink="/contact-us"><i class="fa-solid fa-phone"></i>Contact</a></li>
      <li><a routerLink="#"><i class="fa-solid fa-right-from-bracket"></i>Logout
      </a></li>
    </ul>
  </nav>
</header>

<div class="department">
  <h1 class="heading">Electric and Electronical Engineering</h1>
  <h2>Second Year Subjects</h2>
</div>

<div class="images-flex">
  <div class="course-image">
    <div class="images">
      <img src="../../assets/circuit and systems.jpg"  alt="image">
    </div>
    <div class="subject-title">
      18EEE107
      Circuits and Systems
    </div>
    <div class="current-year">
      Second Year
    </div>
  </div>

  <div id="display" class="notes"><br><br>
    <div class="videos">
      <h2><a routerLink="">Unit 1</a></h2>
    </div>
    <div class="videos">
      <h2><a routerLink="">Unit 2</a></h2>
    </div>
    <div class="videos">
      <h2>Unit 3</h2>
    </div>
    <div class="videos">
      <h2>Unit 4</h2>
    </div>
    <div class="videos">
      <h2>Unit 5</h2>
    </div>
  </div>
</div>


<div class="images-flex">
  <div class="course-image">
    <div class="images">
      <img src="../../assets/Microcontroller.jpg"  alt="image">
    </div>
    <div class="subject-title">
      18EEE106
      Microcontroller
    </div>
    <div class="current-year">
      Second Year
    </div>
  </div>

  <div id="display" class="notes"><br><br>
    <div class="videos">
      <h2><a routerLink="">Unit 1</a></h2>
    </div>
    <div class="videos">
      <h2><a routerLink="">Unit 2</a></h2>
    </div>
    <div class="videos">
      <h2>Unit 3</h2>
    </div>
    <div class="videos">
      <h2>Unit 4</h2>
    </div>
    <div class="videos">
      <h2>Unit 5</h2>
    </div>
  </div>
</div>
<app-footer />
