<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


<br><br>
<h3><a routerLink="/home"><i class="fa-solid fa-house"></i>HOME</a> / TIME TABLE</h3>
<!-- CSE dept content starts -->
<h2>COMPUTER SCIENCE DEPARTMENT </h2>
<h3>First Year</h3>
<div class="table">
  <table>
    <tr>
      <th>TIME & DAY </th>
      <th>09.00 a.m. To 09.50 a.m.</th>
      <th>09.50 a.m To 10.40 a.m.</th>
      <th>10.40 a.m. To 10.55 a.m.</th>
      <th>10.55 a.m.To 11.40 a.m.</th>
      <th>11.40 a.m. To 12.30 p.m.</th>
      <th>12.30 p.m. To 1.30 p.m. </th>
      <th>1.30 p.m. To 2.20 p.m.</th>
      <th>2.20 p.m.To 3.10 p.m.</th>
      <th>3.10 p.m. To 4.00 .p.m</th>
      <th>After Four </th>
    </tr>
    <tr>
      <th>MON</th>
      <td>CT/HSN</td>
      <td>PE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">BREAK</td>
      <td>C&NS</td>
      <td>GM</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY LUNCH </td>
      <td colspan="3">PRIEE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY EVENING</td>
    </tr>
    <tr>
      <th>TUE</th>
      <td>CT/C&NS</td>
      <td>GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>HSN/BI</td>
      <td colspan="2">PRIEE</td>
    </tr>
    <tr>
      <th>WED</th>
      <td>CT/GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>BD&CC</td>
      <td>SSD/LIB</td>
      <td>PE</td>
      <td>BD&CC</td>
    </tr>
    <tr>
      <th>THU</th>
      <td>CT/PE</td>
      <td>HSN/BI</td>
      <td colspan="2">BD&CC/GM LAB</td>
      <td>BD&CC</td>
      <td>PE</td>
      <td>BD&CC/HH</td>
    </tr>
    <tr>
      <th>FRI</th>
      <td>CT/BD&CC</td>
      <td>GM</td>
      <td>PE</td>
      <td>GM</td>
      <td>C&NS</td>
      <td colspan="2">BD&CC/GM LAB</td>
    </tr>
    <tr>
      <th>SAT</th>
      <td colspan="11" rowspan="2" style="background-color:rgba(129, 169, 142, 0.495);">HAPPY WEEK
        END</td>
    </tr>
    <tr>
      <th>SUN</th>
    </tr>
  </table>
</div>
<!-- CSE dept content ends -->
<br><br>

<h3>Second Year</h3>
<div class="table">
  <table>
    <tr>
      <th>TIME & DAY </th>
      <th>09.00 a.m. To 09.50 a.m.</th>
      <th>09.50 a.m To 10.40 a.m.</th>
      <th>10.40 a.m. To 10.55 a.m.</th>
      <th>10.55 a.m.To 11.40 a.m.</th>
      <th>11.40 a.m. To 12.30 p.m.</th>
      <th>12.30 p.m. To 1.30 p.m. </th>
      <th>1.30 p.m. To 2.20 p.m.</th>
      <th>2.20 p.m.To 3.10 p.m.</th>
      <th>3.10 p.m. To 4.00 .p.m</th>
      <th>After Four </th>
    </tr>
    <tr>
      <th>MON</th>
      <td>CT/HSN</td>
      <td>PE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">BREAK</td>
      <td>C&NS</td>
      <td>GM</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY LUNCH </td>
      <td colspan="3">PRIEE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY EVENING</td>
    </tr>
    <tr>
      <th>TUE</th>
      <td>CT/C&NS</td>
      <td>GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>HSN/BI</td>
      <td colspan="2">PRIEE</td>
    </tr>
    <tr>
      <th>WED</th>
      <td>CT/GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>BD&CC</td>
      <td>SSD/LIB</td>
      <td>PE</td>
      <td>BD&CC</td>
    </tr>
    <tr>
      <th>THU</th>
      <td>CT/PE</td>
      <td>HSN/BI</td>
      <td colspan="2">BD&CC/GM LAB</td>
      <td>BD&CC</td>
      <td>PE</td>
      <td>BD&CC/HH</td>
    </tr>
    <tr>
      <th>FRI</th>
      <td>CT/BD&CC</td>
      <td>GM</td>
      <td>PE</td>
      <td>GM</td>
      <td>C&NS</td>
      <td colspan="2">BD&CC/GM LAB</td>
    </tr>
    <tr>
      <th>SAT</th>
      <td colspan="11" rowspan="2" style="background-color:rgba(129, 169, 142, 0.495);">HAPPY WEEK
        END</td>
    </tr>
    <tr>
      <th>SUN</th>
    </tr>
  </table>
</div>
<!-- CSE dept content ends -->
<br><br>

<h3>Third Year</h3>
<div class="table">
  <table>
    <tr>
      <th>TIME & DAY </th>
      <th>09.00 a.m. To 09.50 a.m.</th>
      <th>09.50 a.m To 10.40 a.m.</th>
      <th>10.40 a.m. To 10.55 a.m.</th>
      <th>10.55 a.m.To 11.40 a.m.</th>
      <th>11.40 a.m. To 12.30 p.m.</th>
      <th>12.30 p.m. To 1.30 p.m. </th>
      <th>1.30 p.m. To 2.20 p.m.</th>
      <th>2.20 p.m.To 3.10 p.m.</th>
      <th>3.10 p.m. To 4.00 .p.m</th>
      <th>After Four </th>
    </tr>
    <tr>
      <th>MON</th>
      <td>CT/HSN</td>
      <td>PE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">BREAK</td>
      <td>C&NS</td>
      <td>GM</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY LUNCH </td>
      <td colspan="3">PRIEE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY EVENING</td>
    </tr>
    <tr>
      <th>TUE</th>
      <td>CT/C&NS</td>
      <td>GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>HSN/BI</td>
      <td colspan="2">PRIEE</td>
    </tr>
    <tr>
      <th>WED</th>
      <td>CT/GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>BD&CC</td>
      <td>SSD/LIB</td>
      <td>PE</td>
      <td>BD&CC</td>
    </tr>
    <tr>
      <th>THU</th>
      <td>CT/PE</td>
      <td>HSN/BI</td>
      <td colspan="2">BD&CC/GM LAB</td>
      <td>BD&CC</td>
      <td>PE</td>
      <td>BD&CC/HH</td>
    </tr>
    <tr>
      <th>FRI</th>
      <td>CT/BD&CC</td>
      <td>GM</td>
      <td>PE</td>
      <td>GM</td>
      <td>C&NS</td>
      <td colspan="2">BD&CC/GM LAB</td>
    </tr>
    <tr>
      <th>SAT</th>
      <td colspan="11" rowspan="2" style="background-color:rgba(129, 169, 142, 0.495);">HAPPY WEEK
        END</td>
    </tr>
    <tr>
      <th>SUN</th>
    </tr>
  </table>
</div>
<!-- CSE dept content ends -->

<h3>Final Year</h3>
<div class="table">
  <table>
    <tr>
      <th>TIME & DAY </th>
      <th>09.00 a.m. To 09.50 a.m.</th>
      <th>09.50 a.m To 10.40 a.m.</th>
      <th>10.40 a.m. To 10.55 a.m.</th>
      <th>10.55 a.m.To 11.40 a.m.</th>
      <th>11.40 a.m. To 12.30 p.m.</th>
      <th>12.30 p.m. To 1.30 p.m. </th>
      <th>1.30 p.m. To 2.20 p.m.</th>
      <th>2.20 p.m.To 3.10 p.m.</th>
      <th>3.10 p.m. To 4.00 .p.m</th>
      <th>After Four </th>
    </tr>
    <tr>
      <th>MON</th>
      <td>CT/HSN</td>
      <td>PE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">BREAK</td>
      <td>C&NS</td>
      <td>GM</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY LUNCH </td>
      <td colspan="3">PRIEE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY EVENING</td>
    </tr>
    <tr>
      <th>TUE</th>
      <td>CT/C&NS</td>
      <td>GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>HSN/BI</td>
      <td colspan="2">PRIEE</td>
    </tr>
    <tr>
      <th>WED</th>
      <td>CT/GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>BD&CC</td>
      <td>SSD/LIB</td>
      <td>PE</td>
      <td>BD&CC</td>
    </tr>
    <tr>
      <th>THU</th>
      <td>CT/PE</td>
      <td>HSN/BI</td>
      <td colspan="2">BD&CC/GM LAB</td>
      <td>BD&CC</td>
      <td>PE</td>
      <td>BD&CC/HH</td>
    </tr>
    <tr>
      <th>FRI</th>
      <td>CT/BD&CC</td>
      <td>GM</td>
      <td>PE</td>
      <td>GM</td>
      <td>C&NS</td>
      <td colspan="2">BD&CC/GM LAB</td>
    </tr>
    <tr>
      <th>SAT</th>
      <td colspan="11" rowspan="2" style="background-color:rgba(129, 169, 142, 0.495);">HAPPY WEEK
        END</td>
    </tr>
    <tr>
      <th>SUN</th>
    </tr>
  </table>
</div>
<!-- CSE dept content ends -->
<br><br>
<hr>
<!-- ECE dept content starts -->
<h2>ELECTIC AND ELECTRONICAL DEPARTMENT </h2>
<h3>First Year</h3>
<div class="table">
  <table>
    <tr>
      <th>TIME & DAY </th>
      <th>09.00 a.m. To 09.50 a.m.</th>
      <th>09.50 a.m To 10.40 a.m.</th>
      <th>10.40 a.m. To 10.55 a.m.</th>
      <th>10.55 a.m.To 11.40 a.m.</th>
      <th>11.40 a.m. To 12.30 p.m.</th>
      <th>12.30 p.m. To 1.30 p.m. </th>
      <th>1.30 p.m. To 2.20 p.m.</th>
      <th>2.20 p.m.To 3.10 p.m.</th>
      <th>3.10 p.m. To 4.00 .p.m</th>
      <th>After Four </th>
    </tr>
    <tr>
      <th>MON</th>
      <td>CT/HSN</td>
      <td>PE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">BREAK</td>
      <td>C&NS</td>
      <td>GM</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY LUNCH </td>
      <td colspan="3">PRIEE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY EVENING</td>
    </tr>
    <tr>
      <th>TUE</th>
      <td>CT/C&NS</td>
      <td>GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>HSN/BI</td>
      <td colspan="2">PRIEE</td>
    </tr>
    <tr>
      <th>WED</th>
      <td>CT/GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>BD&CC</td>
      <td>SSD/LIB</td>
      <td>PE</td>
      <td>BD&CC</td>
    </tr>
    <tr>
      <th>THU</th>
      <td>CT/PE</td>
      <td>HSN/BI</td>
      <td colspan="2">BD&CC/GM LAB</td>
      <td>BD&CC</td>
      <td>PE</td>
      <td>BD&CC/HH</td>
    </tr>
    <tr>
      <th>FRI</th>
      <td>CT/BD&CC</td>
      <td>GM</td>
      <td>PE</td>
      <td>GM</td>
      <td>C&NS</td>
      <td colspan="2">BD&CC/GM LAB</td>
    </tr>
    <tr>
      <th>SAT</th>
      <td colspan="11" rowspan="2" style="background-color:rgba(129, 169, 142, 0.495);">HAPPY WEEK
        END</td>
    </tr>
    <tr>
      <th>SUN</th>
    </tr>
  </table>
</div>
<!-- ECE dept content ends -->
<h3>Second Year</h3>
<div class="table">
  <table>
    <tr>
      <th>TIME & DAY </th>
      <th>09.00 a.m. To 09.50 a.m.</th>
      <th>09.50 a.m To 10.40 a.m.</th>
      <th>10.40 a.m. To 10.55 a.m.</th>
      <th>10.55 a.m.To 11.40 a.m.</th>
      <th>11.40 a.m. To 12.30 p.m.</th>
      <th>12.30 p.m. To 1.30 p.m. </th>
      <th>1.30 p.m. To 2.20 p.m.</th>
      <th>2.20 p.m.To 3.10 p.m.</th>
      <th>3.10 p.m. To 4.00 .p.m</th>
      <th>After Four </th>
    </tr>
    <tr>
      <th>MON</th>
      <td>CT/HSN</td>
      <td>PE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">BREAK</td>
      <td>C&NS</td>
      <td>GM</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY LUNCH </td>
      <td colspan="3">PRIEE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY EVENING</td>
    </tr>
    <tr>
      <th>TUE</th>
      <td>CT/C&NS</td>
      <td>GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>HSN/BI</td>
      <td colspan="2">PRIEE</td>
    </tr>
    <tr>
      <th>WED</th>
      <td>CT/GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>BD&CC</td>
      <td>SSD/LIB</td>
      <td>PE</td>
      <td>BD&CC</td>
    </tr>
    <tr>
      <th>THU</th>
      <td>CT/PE</td>
      <td>HSN/BI</td>
      <td colspan="2">BD&CC/GM LAB</td>
      <td>BD&CC</td>
      <td>PE</td>
      <td>BD&CC/HH</td>
    </tr>
    <tr>
      <th>FRI</th>
      <td>CT/BD&CC</td>
      <td>GM</td>
      <td>PE</td>
      <td>GM</td>
      <td>C&NS</td>
      <td colspan="2">BD&CC/GM LAB</td>
    </tr>
    <tr>
      <th>SAT</th>
      <td colspan="11" rowspan="2" style="background-color:rgba(129, 169, 142, 0.495);">HAPPY WEEK
        END</td>
    </tr>
    <tr>
      <th>SUN</th>
    </tr>
  </table>
</div>
<br><br>
<hr><br>

<!-- IT dept content starts -->
<h2>INFORMATION TECHNOLOGY DEPARTMENT </h2>
<h3>First Year</h3>
<div class="table">
  <table>
    <tr>
      <th>TIME & DAY </th>
      <th>09.00 a.m. To 09.50 a.m.</th>
      <th>09.50 a.m To 10.40 a.m.</th>
      <th>10.40 a.m. To 10.55 a.m.</th>
      <th>10.55 a.m.To 11.40 a.m.</th>
      <th>11.40 a.m. To 12.30 p.m.</th>
      <th>12.30 p.m. To 1.30 p.m. </th>
      <th>1.30 p.m. To 2.20 p.m.</th>
      <th>2.20 p.m.To 3.10 p.m.</th>
      <th>3.10 p.m. To 4.00 .p.m</th>
      <th>After Four </th>
    </tr>
    <tr>
      <th>MON</th>
      <td>CT/HSN</td>
      <td>PE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">BREAK</td>
      <td>C&NS</td>
      <td>GM</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY LUNCH </td>
      <td colspan="3">PRIEE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY EVENING</td>
    </tr>
    <tr>
      <th>TUE</th>
      <td>CT/C&NS</td>
      <td>GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>HSN/BI</td>
      <td colspan="2">PRIEE</td>
    </tr>
    <tr>
      <th>WED</th>
      <td>CT/GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>BD&CC</td>
      <td>SSD/LIB</td>
      <td>PE</td>
      <td>BD&CC</td>
    </tr>
    <tr>
      <th>THU</th>
      <td>CT/PE</td>
      <td>HSN/BI</td>
      <td colspan="2">BD&CC/GM LAB</td>
      <td>BD&CC</td>
      <td>PE</td>
      <td>BD&CC/HH</td>
    </tr>
    <tr>
      <th>FRI</th>
      <td>CT/BD&CC</td>
      <td>GM</td>
      <td>PE</td>
      <td>GM</td>
      <td>C&NS</td>
      <td colspan="2">BD&CC/GM LAB</td>
    </tr>
    <tr>
      <th>SAT</th>
      <td colspan="11" rowspan="2" style="background-color:rgba(129, 169, 142, 0.495);">HAPPY WEEK
        END</td>
    </tr>
    <tr>
      <th>SUN</th>
    </tr>
  </table>
  <br><br>
</div>
<h3>Second Year</h3>
<div class="table">
  <table>
    <tr>
      <th>TIME & DAY </th>
      <th>09.00 a.m. To 09.50 a.m.</th>
      <th>09.50 a.m To 10.40 a.m.</th>
      <th>10.40 a.m. To 10.55 a.m.</th>
      <th>10.55 a.m.To 11.40 a.m.</th>
      <th>11.40 a.m. To 12.30 p.m.</th>
      <th>12.30 p.m. To 1.30 p.m. </th>
      <th>1.30 p.m. To 2.20 p.m.</th>
      <th>2.20 p.m.To 3.10 p.m.</th>
      <th>3.10 p.m. To 4.00 .p.m</th>
      <th>After Four </th>
    </tr>
    <tr>
      <th>MON</th>
      <td>CT/HSN</td>
      <td>PE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">BREAK</td>
      <td>C&NS</td>
      <td>GM</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY LUNCH </td>
      <td colspan="3">PRIEE</td>
      <td rowspan="5" style="background-color:rgba(129, 169, 142, 0.495) ;">HAPPY EVENING</td>
    </tr>
    <tr>
      <th>TUE</th>
      <td>CT/C&NS</td>
      <td>GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>HSN/BI</td>
      <td colspan="2">PRIEE</td>
    </tr>
    <tr>
      <th>WED</th>
      <td>CT/GM</td>
      <td>HSN/BI</td>
      <td>C&NS</td>
      <td>BD&CC</td>
      <td>SSD/LIB</td>
      <td>PE</td>
      <td>BD&CC</td>
    </tr>
    <tr>
      <th>THU</th>
      <td>CT/PE</td>
      <td>HSN/BI</td>
      <td colspan="2">BD&CC/GM LAB</td>
      <td>BD&CC</td>
      <td>PE</td>
      <td>BD&CC/HH</td>
    </tr>
    <tr>
      <th>FRI</th>
      <td>CT/BD&CC</td>
      <td>GM</td>
      <td>PE</td>
      <td>GM</td>
      <td>C&NS</td>
      <td colspan="2">BD&CC/GM LAB</td>
    </tr>
    <tr>
      <th>SAT</th>
      <td colspan="11" rowspan="2" style="background-color:rgba(129, 169, 142, 0.495);">HAPPY WEEK
        END</td>
    </tr>
    <tr>
      <th>SUN</th>
    </tr>
  </table>
</div><br><br>

<br>
<!-- IT dept content ends -->
