<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
/>
<header>
  <!-- menu-bar starts -->
  <nav class="menu-bar">
    <ul>
      <li>
        <a routerLink="/home"><i class="fa-solid fa-house"></i>Home</a>
      </li>
      <li>
        <a routerLink="/about-us"><i class="fa-solid fa-users"></i>About</a>
      </li>
      <li>
        <a routerLink="/department"><i class="fa-solid fa-book"></i>Notes</a>
      </li>
      <li>
        <a href="#"><i class="fa-solid fa-file-lines"></i>Modules</a>
        <div class="dropdown-menu1">
          <ul>
            <li>
              <a routerLink="/timetable"><i class="fa-solid fa-table"></i>Timetable</a>
            </li>
            <li>
              <a routerLink="/labdepartment"><i class="fa-solid fa-book-open-reader"></i>Lab</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="current-page">
        <a href="#"><i class="fa-solid fa-phone"></i>Contact</a>
      </li>
      <li>
        <a routerLink="#"> <i class="fa-solid fa-right-from-bracket"></i>Logout</a>
      </li>
    </ul>
  </nav>
</header>
<!-- menu-bar ends -->
<div class="contact-us">
  <h1 class="heading">Contact Us</h1>
  <!-- <h2 class="sub-heading">We are here to help You !!</h2> -->
</div>
<br />
<div class="contact-content">
  <p>
    Thank you for your interest in our Course Management System. We’ve created
    this form to help you get in touch with the right people. Please fill your
    contact in the list, enter your e-mail address, and type your message below.
    Also you can connect with us through facebook,instagram,twitter and
    whatsapp.We are happy to help you.
  </p>
</div>
<br /><br /><br /><br /><br />
<div class="contact-container">
  <br />
  <div class="sub-container2">
    <br />
    <span class="info">Reach Us</span>
    <div style="margin-bottom: 30px"></div>
 <hr>
    <div style="margin-bottom: 30px"></div>

    <form action="" onsubmit="submitted()">
      <label>Name <span class="sp">*</span></label
      ><br />
      <input class="inp" type="text" required /><br /><br />
      <label>Email <span class="sp">*</span></label
      ><br />
      <input class="inp" type="email" required /><br /><br />
      <label>Phone <span class="sp">*</span></label
      ><br />
      <input class="inp" type="text" required /><br /><br />
      <label>Message <span class="sp">*</span></label
      ><br />
      <textarea rows="5" name="Message" class="inp"> </textarea>
      <input class="btnn" type="submit" value="Submit" id="submit-button" />
    </form>
  </div>
</div><br><br><br><br>
<app-footer></app-footer>
<!-- message me session ends -->
<!-- body of the content ends-->
