<!-- menu-bar starts -->
<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <nav class="menu-bar">
    <ul>
      <li><a routerLink="/home"><i class="fa-solid fa-house"></i>Home</a></li>
      <li><a routerLink="/about-us"><i class="fa-solid fa-users"></i>About</a></li>
      <li class="current-page"><a routerLink="/CSE-Finalsub"><i class="fa-solid fa-book"></i>Notes</a></li>
      <li><a href="#"><i class="fa-solid fa-file-lines"></i>Modules</a>
        <div class="dropdown-menu1">
          <ul>
            <li><a routerLink="/timetable"><i class="fa-solid fa-table"></i>Timetable</a></li>
            <li><a routerLink="/labdepartment"><i class="fa-solid fa-book-open-reader"></i>Lab</a></li>
          </ul>
        </div>
      </li>
      <li><a routerLink="/contact-us"><i class="fa-solid fa-phone"></i>Contact</a></li>
      <li><a routerLink="#"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
    </ul>
  </nav>
</header>
<!-- menu-bar ends -->

<div class="department">
  <h1 class="heading">Computer Science and Engineering</h1>
  <h2>Final Year Subjects</h2>
</div>

<div class="images-flex">
  <div class="course-image">
    <div class="images">
      <img src="../../assets/operating system.jpg" alt="image" id="osImg">
    </div>
    <div class="subject-title">
      18CS098
      Operating Systems
    </div>
    <div class="current-year">
      Final Year
    </div>
  </div>
  <div id="display" class="notes"><br><br>
    <div class="videos">
      <h2><a routerLink="#">Set 1 Question</a></h2>
    </div>
    <div class="videos">
      <h2><a routerLink="#">Set 2 Question</a></h2>
    </div>
  </div>
</div>


<div class="images-flex">
  <div class="course-image">
    <div class="images">
      <img src="../../assets/cryptography.png" alt="image"   id="osImg">
    </div>
    <div class="subject-title">
      18CS009
      Cryptography
    </div>
    <div class="current-year">
      Final Year
    </div>
  </div>

  <div id="display" class="notes"><br><br>
    <div class="videos">
      <h2><a routerLink="#">Set 1 Question</a></h2>
    </div>
    <div class="videos">
      <h2><a routerLink="#">Set 2 Question</a></h2>
    </div>
  </div>
</div>

<!-- footer section -->
<div class="foot-division">
  <div class="footer-content">
    <div class="division1">
      <h1>SMMS</h1><br>
      <p>"One teacher, One pen, one <br>book can change the World <i class="fa-solid fa-globe"></i> !!..."
    </div>
  </div>
  <app-footer />
