<!-- footer section -->
<div class="foot-division">
  <div class="footer-content">
    <div class="division1">
      <h1>SMMS</h1><br>
      <p>"One teacher, One pen, one <br>book can change the World <i class="fa-solid fa-globe"></i> !!..."
    </div>
  </div>
  <div class="footer-content">
    <div class="division2">
      <h3>Quick links</h3>
      <ul class="ul-division">
        <li><a href="../View/home.html"><i class="fa-solid fa-house-user"></i>&numsp;Home</a></li>
        <li><a href="../View/aboutpage.html"><i class="fa-solid fa-users"></i>&numsp;About</a></li>
        <li><a href="../View/courses.html"><i class="fa-solid fa-image"></i>&numsp;Notes</a></li>
        <li><a href="../View/video.html"><i class="fa-solid fa-video"></i>&numsp;Videos</a></li>
        <li><a href="lab.html"><i class="fa-solid fa-book"></i>&numsp;Labs</a></li>
        <li><a href="../View/time.html"><i class="fa-solid fa-table"></i>&numsp;Timetable</a></li>
        <li><a href="../View/contact.html"><i class="fa-solid fa-phone"></i>&numsp;Contact</a></li>
        <li><a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i>&numsp;Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-content">
    <div class="division3">
      <h3>Contact info</h3>
      <div class="contact">
        <span class="icon"><i class="fa-solid fa-phone"></i> 9842066139<br></span>
        <span class="icon"><i class="fa-solid fa-envelope"></i>mythilithambi1210@gmail.com<br></span>
        <span class="icon"><i class="fa-solid fa-location-pin"></i> Salem,Tamilnadu,637102</span>
      </div>
    </div>
  </div>
</div>
<footer class="index-footer">
  <div class="copyrights">
    <p>Copyright<i class="fa-solid fa-copyright"></i> Mythili | All Rights Reserved</p>
  </div>
</footer>
