* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/* <!-- menu-bar starts --> */
.menu-bar {
  background-color: #503730;
  text-align: center;
  /* width: 120%; */
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}

.current-page,
.menu-bar ul li:hover {
  background: #dc9e8f52;
  border-radius: 3px;
}

.menu-bar .fa-solid {
  margin-right: 6px;
}


.dropdown-menu1 {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu1 {
  display: block;
  position: absolute;
  background-color:#503730;
  margin-top: 16px;
  margin-left: -15px;
}

.menu-bar ul li:hover .dropdown-menu1 ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu1 ul li {
  width: 130px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .dropdown-menu1 ul li:last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .dropdown-menu1 ul li a:hover {
  color: #c6bbb8;
}

.fa-angle-right {
  float: right;
  font-size: 12.5px;
  padding-top: 5px;
}

/* images starts */
.department h1 {
  color: #81434f;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  margin-top: 25px;
  margin-left: 500px;
}

.department h2 {
  color: #81434f;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  margin-top: 25px;
  margin-left: 650px;
}

.break {
  width: 100%;
  background-image: linear-gradient(#055615c5, #c9e0ce00);
  height: 10px;
}

.course-image {
  width: 25%;
  background-color: rgb(211, 196, 199);
  border-radius: 5px;
  margin: 70px;
  margin-left: 200px;
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
}

.images img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

/* .images img:hover {
  transform: skewX(4deg);
} */

.subject-title {
  text-align: center;
}

.current-year {
  text-align: center;
}

.images-flex {
display: flex;
  /* padding-left: 90px; */
}

/* images starts */

.notes .videos {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  /* margin-bottom: 40px;
  margin-left: 350px;
  margin-right: 350px;
  padding: 20px; */
  margin-left:300px;
  /* margin-bottom: 15px; */
  margin-top: 32px;
  color: #81434f;
  font-size: 12px;
 padding: 10px 25px;
  text-align: center;

}
.notes .videos a{
  text-decoration: none;
  color: #81434f;
  }


.index-footer {
  background-color: rgba(111, 108, 108, 0.886);
  display: flex;
  justify-content: center;
  padding: 5px;
}

.copyrights{
  padding-left: 7%;
  color:rgba(212, 204, 204, 0.953);
}

.footer-content{
  display:inline-flex;
  margin-left: 200px;
  margin-top: 20px;
}
.foot-division{
  justify-content: space-between;
  background-color: rgba(174, 163, 163, 0.418);
  border-radius: 40px 40px 0 0;
  padding-bottom: 20px;

}
.division1 h1{
  font-size: 35px;
  /* color:#055615; */
  font-family: 'Times New Roman', Times, serif;

}
.division1 p{
  font-size:25px;
  color:rgba(83, 73, 73, 0.953);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.division2 h3{
  font-size: 25px;
  /* color:#055615; */
  font-family: 'Times New Roman', Times, serif;
}
.division2 ul li{
list-style: none;
 color: #055615;
}
.ul-division li{
  padding: 5px;
}
.ul-division li a:hover{
  color: #052c0de6;
  margin-left:8px ;
  text-decoration: underline;
  transition: .2s ease;
}
.division2 ul li a{
  text-decoration: none;
  color:rgba(83, 73, 73, 0.953);
  padding-left: 20px;
}
.division3 h3{
  font-size: 25px;
  color:black;
  font-family: 'Times New Roman', Times, serif;
}
.division3{
  color:rgba(83, 73, 73, 0.953);
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  cursor: pointer;
}
.icon{
  padding-right: 10px;
}
.footer-content .division3 .icon i{
  padding: 10px;

}
.footer-content .division3 .icon:hover{
  color: #055615;
  margin-left: 8px;
  transition: .2s ease;
}
/* footer section */


