<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
/>
<header>
  <!-- menu-bar starts -->
  <nav class="menu-bar">
    <ul>
      <li>
        <a routerLink="/home"><i class="fa-solid fa-house"></i>Home</a>
      </li>
      <li class="current-page">
        <a href="#"><i class="fa-solid fa-users"></i>About</a>
      </li>
      <li>
        <a routerLink="/department"><i class="fa-solid fa-book"></i>Notes</a>
      </li>
      <li>
        <a href="#"><i class="fa-solid fa-file-lines"></i>Modules</a>
        <div class="dropdown-menu1">
          <ul>
            <li>
              <a routerLink="/timetable"><i class="fa-solid fa-table"></i>Timetable</a>
            </li>
            <li>
              <a routerLink="/labdepartment"><i class="fa-solid fa-book-open-reader"></i>Lab</a>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <a routerLink="/contact-us"><i class="fa-solid fa-phone"></i>Contact</a>
      </li>
      <li>
        <a routerLink="/login"
          ><i class="fa-solid fa-right-from-bracket"></i>Login</a
        >
      </li>
    </ul>
  </nav>
</header>
<!-- menu-bar ends -->
<main>
  <header>
    <h1 class="heading1">Study Material Management System</h1>
    <h2 class="heading2">About Us</h2>
    <br />
    <div class="about">
      <div class="about-para">
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Study Material
          Management System, your go-to platform for managing your study
          materials more efficiently and effectively. Our system helps you
          organize your study materials in one place, making it easier for you
          to access them anytime and anywhere. Our team of experts has developed
          this platform keeping in mind the needs of students and professionals
          who struggle with managing their study materials. We understand the
          challenges of staying organized while studying, and our system is
          designed to simplify the process for you. With our user-friendly
          interface, you can easily upload and categorize your study materials,
          create notes, set reminders, and track your progress. Our system is
          also secure and reliable, ensuring the safety of your data at all
          times. Thank you for choosing Study Material Management System. We are
          committed to providing you with the best possible user experience and
          helping you achieve your academic and professional goals.
        </p>
        <div class="about-images">
          <img
            src="../../assets/jaredd-craig-HH4WBGNyltc-unsplash.jpg"
            alt="images"
          />
        </div>
      </div>
    </div>
  </header>
</main>
<br /><br />
<div class="whole-div">
  <div class="study-material_div-1">
    <div class="study-material_div-2">
      <div class="study-material_div-3">
        <img
          src="../../assets/about-student.png"
          alt="edecofy-institute-software"
        />
      </div>

      <div class="process_header_main mt-3">
        <div class="features_icon_box text-center">
          <h5 class="text-capitalize">Study Materials</h5>
        </div>

        <ul class="list-style-1 m-0 p-0 pb-3">
          <li>Study Materials and inventory management</li>

          <li>Managing study material prices and purchase</li>

          <li>Student transactions</li>

          <li>Ordering management</li>

          <li>Current availability status</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="study-material_div-1">
    <div class="study-material_div-2">
      <div class="study-material_div-3">
        <img
          src="../../assets/about-syllabus.png"
          alt="edecofy-institute-software"
        />
      </div>

      <div class="process_header_main mt-3">
        <div class="features_icon_box text-center">
          <h5 class="text-capitalize font-weight-bold mt-4 pb-2">
            Syllabus Management
          </h5>
        </div>

        <ul class="list-style-1 m-0 p-0 pb-3">
          <li>subject management system</li>

          <li>Preparing and managing Syllabus</li>

          <li>Easy addition and modification features</li>

          <li>Flexible provisions to meet the learning phase</li>

          <li>Easy to make changes</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="whole-div">
  <div class="study-material_div-1">
    <div class="study-material_div-2">
      <div class="study-material_div-3">
        <img
          src="../../assets/about-exam.png"
          alt="edecofy-institute-software"
        />
      </div>

      <div class="process_header_main mt-3">
        <div class="features_icon_box text-center">
          <h5 class="text-capitalize font-weight-bold mt-4 pb-2">
            Examination Management
          </h5>
        </div>

        <ul class="list-style-1 m-0 p-0 pb-3">
          <li>Exam list creation</li>

          <li>Exam Marks management</li>

          <li>Facility to quickly send marks via SMS</li>

          <li>Creating examination grades</li>

          <li>Online question paper creation,management</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="study-material_div-1">
    <div class="study-material_div-2">
      <div class="study-material_div-3">
        <img
          src="../../assets/about-stu manage.png"
          alt="edecofy-institute-software"
        />
      </div>

      <div class="process_header_main mt-3">
        <div class="features_icon_box text-center">
          <h5 class="text-capitalize font-weight-bold mt-4 pb-2">
            Student Management
          </h5>
        </div>

        <ul class="list-style-1 m-0 p-0 pb-3">
          <li>General student info like name,address,images</li>

          <li>ID Number</li>

          <li>Dormitory</li>

          <li>Student Profile Editable</li>

          <li>Class Section</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<br>
    <h1 class="teachers">Teachers with us !..</h1><br>
<br>

    <section class="details-container">
        <div class="icons">
            <i class="fa-solid fa-chalkboard-user"></i><br>
            <span>40%</span>
            <p>Mastered proffessor</p>
        </div>

        <div class="icons">
            <i class="fa-solid fa-chalkboard-user"></i><br>
           <span>25%</span>
            <p>Doctrated Proffessor</p>
        </div>

        <div class="icons">
            <i class="fa-solid fa-bookmark"></i><br>
            <span>35%</span>
            <p>Certified Proffessor</p>
        </div>
    </section>
<br><br><br>
<br><br>

  <div class="foot-division">
    <div class="footer-content">
      <div class="division1">
        <h1>SMMS</h1>
        <br />
        <p>

            "One teacher, One pen, one <br />book can change the World
            <i class="fa-solid fa-globe"></i> !!..."

        </p>
      </div>
    </div>

    <div class="footer-content">
      <div class="division2">
        <h3>Quick links</h3>
        <ul class="ul-division">
          <li>
            <a href="../View/home.html"
              ><i class="fa-solid fa-house-user"></i>&numsp;Home</a
            >
          </li>
          <li>
            <a href="../View/aboutpage.html"
              ><i class="fa-solid fa-users"></i>&numsp;About</a
            >
          </li>
          <li>
            <a href="../View/courses.html"
              ><i class="fa-solid fa-image"></i>&numsp;Notes</a
            >
          </li>
          <li>
            <a href="../View/video.html"
              ><i class="fa-solid fa-video"></i>&numsp;Videos</a
            >
          </li>
          <li>
            <a href="lab.html"><i class="fa-solid fa-book"></i>&numsp;Labs</a>
          </li>
          <li>
            <a href="../View/time.html"
              ><i class="fa-solid fa-table"></i>&numsp;Timetable</a
            >
          </li>
          <li>
            <a href="../View/contact.html"
              ><i class="fa-solid fa-phone"></i>&numsp;Contact</a
            >
          </li>
          <li>
            <a href="../index.html"
              ><i class="fa-solid fa-right-from-bracket"></i>&numsp;Logout</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-content">
      <div class="division3">
        <h3>Contact info</h3>
        <div class="contact">
          <span class="icon"
            ><i class="fa-solid fa-phone"></i> 9842066139<br
          /></span>
          <span class="icon"
            ><i class="fa-solid fa-envelope"></i>mythilithambi1210@gmail.com<br
          /></span>
          <span class="icon"
            ><i class="fa-solid fa-location-pin"></i>
            Salem,Tanilnadu,637102</span
          >
        </div>
      </div>
    </div>
  </div>
  <footer class="index-footer">
    <div class="copyrights">
      <p>
        Copyright<i class="fa-solid fa-copyright"></i> Mythili | All Rights
        Reserved
      </p>
    </div>
  </footer>

  <!-- footer section ends -->
