<p id="para">welcome</p>
<p id="para1">Mythili T</p>
<h1>Topic 1-One Way binding</h1>
<h3>One Way binding consists of two types</h3>
<h2>1. TS-HTML</h2>
<h3>TS-HTML consists of two types</h3>
<h2>&nbsp;&nbsp;1. String Interpolation</h2>
<h1>{{title}}</h1>
<h2>&nbsp;&nbsp;2. property binding</h2>
<h1 [style.color]="color">{{title}}</h1>
<h2>2. HTML-TS</h2>
<h2>&nbsp;&nbsp;1.Event Binding</h2>
<h1>{{bchange}}</h1>
<button id="btn" (click)="fun()">click me</button>
<h1>Topic 2-Two Way binding</h1>
<input type="text" [(ngModel)]="text">
<h3>{{text}}</h3>


